.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #ff6633, #f63e2e);
}


/* ...........................  ...........................*/
/* ...........................  ...........................*/
/* Navbar */

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
    align-items: center;
}

.header-navbar-list {
    list-style: none;
    padding-left: 0;
    font-size: 0;
    margin-top: 0.8rem;
}


.header-navbar__item {
    padding: 0 7px;
}


.header-navbar__item,
.header-navbar__icon-link,
.navbar-item__link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
    position: relative;
    z-index: 10;
}

.navbar-item__link:hover {
    color: rgba(255,255,255, 0.7);
}

.header-navbar__icon-link {
    margin-right: 8px;
}


.header-navbar__item--separate {
    border-right: 2px solid rgba(255, 255 ,255, 0.4);
}


/* ...........................  ...........................*/
/* ...........................  ...........................*/
/* QR */

.header-navbar__item--has-qr:hover .header__qr {
    display: block;
}

.header__qr  {
    position: absolute;
    background-color: var(--white-color);
    width: 200px;
    left: 0;
    top: 155%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn linear 0.15s;
    box-shadow: 0 1px 1px rgba(189,189,189,0.4);
}

.header__qr::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 20px;
    top: -20px;
    left: 0;
}




.header__qr-code {
    width: 100%;
} 

.header__qr-apps {
    display: flex;
    flex-wrap: wrap;
} 

.header__qr-app {
    width: 50%;
    padding: 4px 8px;
} 


/* ...........................  ...........................*/
/* ...........................  ...........................*/
/* Notification */

.header-navbar__item--has-notify:hover .navbar-item__link {
    color: rgba(255,255,255, 0.7);
}

.header-navbar__item--has-notify:hover .header-notify {
    display: block;
}


.header-notify {
    width: 404px;
    position: absolute;
    top: 155%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    color: var(--text-color);
    font-size: 1.4rem;
    display: none;
    animation: displayNotification linear 0.23s;
    transform-origin: calc(100% - 25px) top;
}



.header-notify::before {
    content: "";
    border-style: solid;
    border-width: 10px 14px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -20px;
    right: 15px;
}

.header-notify::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    background-color: transparent;
    width: 100px;
    height: 20px;
}

@keyframes displayNotification {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.header-notify__header {
    padding: 10px 8px;
    font-size: 1.4rem;
    opacity: 0.4;
    text-transform: capitalize;
    user-select: none;
}

.header-notify-content {
    display: flex;
    flex-direction: column;
}

.header-notify-content a {
    display: flex;
    padding: 8px;
    text-decoration: none;
    color: var(--text-color);
    background-color: #ffc5c538;
    transition: all 0.1s linear;
}


.header-notify-content a:visited {
    background-color: var(--white-color);
}

.header-notify-content a:hover {
    background-color: rgba(238, 238, 238, 0.6);;
}


.notify-img {
    width: 44px;
    object-fit: contain;
    vertical-align: top;
}

.notify-img img {
    width: 44px;
}

.notify-content {
    font-size: 1.3rem;
    margin-left: 6px;
}

.notify-content__header {
    margin: 0;
    font-weight: 400;
}

.notify-content__brief {
    margin-top: 4px;
    margin-bottom: 4px;
    opacity: 0.7;
    font-size: 1.3rem;
}

.header-notify__footer {
    background-color: rgb(245, 245, 245, 0.7);
}

.header-notify__footer:hover {
    background-color: rgb(245, 245, 245, 0.9);
}

.header-notify__footer a{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}




/* ...........................  ...........................*/
/* ...........................  ...........................*/

.header-logo-search-cart {
    height: var(--logo-search-cart-height);
    display: flex;
}


/* Header logo */
.header__logo {
    height: 100%;
    margin-right: 44px;
}

.header__logo-img-link {
    margin-left: 8px;
    height: 100%;
    display: flex;
    align-items: center;
}


.header__logo-img {
    height: 55%;
    fill: var(--white-color);
    transform: translateY(-4.5px);
}


/* Header tags*/
.header__search-tag {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header__search,
.header__tags {
    transform: translateY(10px);
}


/* Header search */

.header__search {
    background-color: var(--white-color);
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    border-radius: 2px;
    position: relative;
    z-index: 1;
}

.header__search-input {
    flex: 1;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    margin-left: 10px;
    border-radius: 2px;
    opacity: 0.8;
}

.header__search-input:focus ~ .header__search-history-list {
    display: block;
}


.header__search-icon-btn {
    height: 33px;
    width: 62px;
    border: none;
    outline: none;
    background-color: #fb5533;
    border-radius: 2px;
    margin-right: 3px;
    display: flex;
    cursor: pointer;
}

.header__search-icon-btn:hover {
    background-color: rgb(255, 102, 72);
}

.header__search-icon {
    font-size: 1.4rem;
    color: var(--white-color);
    margin: auto;
}


/* Search history */
.header__search-history-list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background-color: var(--white-color);
    width: calc(98% - 62px);
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgb(189,189,189);
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

.search-history__item-link {
    padding: 14px 10px;
    display: inline-block;
    width: 100%;
    font-size: 1.5rem;
    color: var(--text-color-blur);
}

.search-history__item-link:hover {
    background-color: rgb(250, 250, 250);
}



/* Header cart */
.header__cart {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cart-wrap {
    position: relative;
}

.header__cart-icon {
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}


.header__cart-list:hover,
.header__cart-icon:hover ~ .header__cart-list,
.header__cart-icon:hover ~ .header__cart-empty {
    display: flex;
    flex-direction: column;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 12px);
    right: -8px;
    width: 400px;
    min-height: 100px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    display: none;
    animation: displayNotification 0.33s;
    transform-origin: 98% top;
    z-index: 1;
}

.header__cart-list:before {
    content: "";
    position: absolute;
    top: -19px;
    right: 0px;
    height: 24px;
    width: 100px;
}

.header__cart-list:after {
    content: "";
    border-width: 10px 12px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    position: absolute;
    top: -19px;
    right: 7px;
}



.header__cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    display: none;
}

.header__cart-empty-image {
    width: 50%;
    display: none
}

.header__cart-empty-msg {
    margin-top: 30px;
    font-size: 1.6rem;
    color: var(--text-color);
    display: none;
}

.header__cart-empty .header__cart-empty-image,
.header__cart-empty .header__cart-empty-msg {
    display: block;
}


.header__cart-heading {
    margin: 0;
    padding: 14px 12px;
    font-size: 1.4rem;
    color: var(--text-color-blur);
    opacity: 0.5;
}

.header__cart-content {
    max-height: 35vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    height: 70px;
    padding: 12px;
    cursor: default;
}

.header__cart-item:hover {
    background-color: rgba(238, 238, 238, 0.6);
}


.header__cart-item-img {
    margin-right: 12px;
    width: 46px;
    border: 1px solid #ddd;
}   



.header__cart-item-des {
    flex: 1;
    color: var(--text-color);
    font-size: 1.5rem;
    padding-right: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__cart-item-des span {
    cursor: text;
    user-select: text;
    z-index: 1;
}

.header__cart-item-price {
    color: var(--primary-color);
    font-size: 1.4rem;
    transform: translateY(-2px);
}

.price-unit {
    font-size: 0.85rem;
    vertical-align: 3.4px;
}


.header__cart-list-footer {
    padding: 10px;
    display: flex;
    justify-content: right;
}

.header__cart-list-footer .btn:hover {
    opacity: 0.9;
}



/* Header tags */
.header__tags {
    list-style: none;
    display: flex;
    margin-top: 5px;
    margin-left: 0px;
    padding: 0;
}



.header__tag-link a{
    color: var(--white-color);
    margin-right: 10px;
    font-size: 1.2rem;
}



















/* .............................................. */
/* modal */

.auth-form {
    padding: 4px 32px;
}

.register-form,
.login-form {
    display: none;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.modal-header__heading {
    font-size: 2.4rem;
    color: var(--text-color);
}

.modal-header__switch-btn {
    font-size: 1.8rem;
    color: var(--primary-color);
    cursor: pointer;
}




.auth-form__input {
    width: 100%;
    padding: 12px;
    font-weight: 500;
    opacity: 0.8;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    margin-top: 16px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}



.auth-form__policy {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 20px;
    line-height: 1.8rem;
}

.auth-form__policy a {
    color: var(--primary-color);
    text-decoration: none;
}


.auth-form__support {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 20px;
    line-height: 1.8rem;
    float: right;
}

.auth-form-support__forgot {
    color: var(--primary-color);
}

.auth-form-support__separate {
    height: 12px;
    width: 1px;
    background-color: #eaeaea;
    display: inline-block;
    margin: 0px 10px;
}

.auth-form-support__help {
    color: var(--text-color);
    opacity: 0.75;
}









.auth-form__footer {
    margin-top: 80px;
    margin-bottom: 32px;
    display: flex;
    justify-content: end;
}

.auth-form__footer--back {
    margin-right: 8px;
}






.auth-form__socials {
    padding: 14px 36px 16px;
    
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
}


.auth-form__socials .btn {
    width: 48%;
    font-size: 1.5rem;
    display: flex;
}

.auth-form__socials i {
    margin-left: 12px;
    margin-right: 16px;;
}



.auth-form__socials .btn--facebook {
    background-color: #3e65b3;
    color: var(--white-color);
}

.auth-form__socials .btn--google {
    background-color: #e9e6e6;
}




/* .............................................. */
/* header rest */
/* .header__rest {
    display: flex;
} */

/* header icon */
/* .header__icon-shopee img{
    width: 100px;
    height:40px;
    color: #fff;
} */



.container {
    min-height: 1000px;
    background-color: #f5f5f5;
}

.back-bar-area {
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    color: var(--text-color-blur);
}

.back-bar-area__icon {
    height: 11px;
}


.menu-category {
    background-color: var(--white-color);
    color: var(--text-color-blur);
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(189,189,189,0.4);
}


.menu-category__shop-logo {
    padding-top: 90%;
    background: url(../img/shop-logo.png) no-repeat center / 100% 100%;
    filter: brightness(60%) blur(2px);
}

.menu-category__content {
    padding-left: 22px;
    padding-right: 22px;
}

.menu-category__heading {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 18px;
    margin-bottom: 18px;
}

.menu-category__list { 
    list-style: none;
    padding-left: 0;
    font-size: 1.3rem;
    padding-bottom: 45px;
    font-weight: 500;
}


.menu-category__item {
    border-bottom: 1px solid var(--border-color);
}



.menu-category__item:last-child {
    border-bottom: none;
}

.menu-category__item-link {
    color: var(--text-color);
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
}

.menu-category__item--active {
    color: var(--primary-color);
}

.sort-bar {
    padding: 14px 20px 14px 22px;
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.sort-bar .btn-sort {
    margin-left: 7px;
    padding: 9px 15px;
}

.btn-price {
    width: 202px;
    text-align: left;
    position: relative;
}




.btn-price .down-icon {
    position: absolute;
    right: 15px;
}

.sort-bar__paginate {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.paginate__page-current {
    color: var(--primary-color);
    font-weight: 500;
}

.paginate__btns-navigation {
    margin-left: 20px;
    font-size: 0;
}

.btn--navigation {
    padding: 8px 14px;
    font-size: 1.5rem;
    margin-left: 1px;
}

.btn--navigation i {
    opacity: 0.9;
}

.btn--unactive {
    opacity: 0.5;
    cursor: default;
}






.product-list {
    margin-top: 5px;
}


.product-item {
    margin-top: 10px;
    background-color: var(--white-color);
    box-shadow: 0 1px 5px rgb(189,189,189);
    display: inline-block;
    position: relative;
    top: 0;
}

.product-item:hover {
    top: -1px;
}


.product-item > a {
    display: block;
}

.product-item__image {
    padding-top: 100%;
    background-position: top center;
    background-size: contain;
}

.product-item__name {
    font-size: 1.3rem;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.product-item__price {
    display: flex;
    font-size: 1.5rem;
    padding-right: 8px;

}

.product-item__price-old {
    margin-left: 8px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.54);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 35%;
}

.product-item__price-new {
    margin-left: 8px;
    color: var(--primary-color);
    flex: 1;
}

.product-item__icon-freeship {
    align-items: center;
    display: flex;
}


.product-item__react {
    margin-top: 8px;
    display: flex;
    color: var(--text-color-blur);
    padding-left: 8px;
    padding-right: 8px;
}

.product-item__like {
    font-size: 1.2rem;
}

.product-item__like .liked-icon {
    color: rgb(245, 61, 47);
}



.product-item__rate {
    color: #ffce3d;
    font-size: 0.8rem;
    margin-right: 4px;
    margin-left: auto;
}

.product-item__numbers-sold {
    font-size: 1.2rem;
}

.product-item__brand {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding: 4px 8px 10px;
    justify-content: space-between;
    align-items: center;
}


.product-item__origin {
    font-size: 1.2rem;
    color: var(--text-color-blur);
}



.product-item__favorite {
    position: absolute;
    top: 12px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    padding: 2px 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-item__favorite span {
    color: var(--white-color);
}

.product-item__favorite i {
    font-size: 0.8rem;
    vertical-align: 1px;
    color: var(--white-color);
}

.product-item__favorite::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    border-style: solid;
    border-color: transparent currentColor transparent transparent;
    border-width: 0 4px 4px 0;
    filter: brightness(60%);
}




.product-item__sale-off {
    background-color: rgba(255, 212, 36, 0.9);
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 44px;
}

.product-item__sale-off::after {
    content: "";
    position: absolute;
    bottom: -5px;
    border-style: solid;
    border-top-width: 0px;
    border-color: transparent rgba(255, 212, 36, 0.9) transparent rgba(255, 212, 36, 0.9);
    border-width: 0px 22px 5px;
}

.product-item__sale-off-percentage {
    color: var(--primary-color);
}

.product-item__sale-off-label {
    color: var(--white-color);
}
