.header {
    height: 120px;
    background-image: linear-gradient(0, #ff6633, #f63e2e);
}



/* ........................... */
/* Navbar */

.header-navbar {
    display: flex;
    justify-content: space-between;
}

.header-navbar-list {
    list-style: none;
    padding-left: 0;
    font-size: 0;
    margin-top: 0.8rem;
}


.header-navbar__item {
    padding: 0 7px;
}

.header-navbar__item.non-padding {
    padding: 0;
}


.header-navbar__item,
.header-navbar__icon-link,
.navbar-item__link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
    position: relative;
    z-index: 10;
}

.navbar-item__link:hover {
    color: rgba(255,255,255, 0.7);
}

.header-navbar__icon-link {
    margin-right: 8px;
}


.header-navbar__item--separate {
    border-right: 2px solid rgba(255, 255 ,255, 0.4);
}



/* ........................... */
/* QR */

.header-navbar__item--has-qr:hover .header__qr {
    display: block;
}

.header__qr  {
    position: absolute;
    background-color: var(--white-color);
    width: 200px;
    left: 0;
    top: 155%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: QRslipDown linear 0.15s;
}

.header__qr::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 20px;
    top: -20px;
    left: 0;
}

@keyframes QRslipDown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




.header__qr-code {
    width: 100%;
} 

.header__qr-apps {
    display: flex;
    flex-wrap: wrap;
} 

.header__qr-app {
    width: 50%;
    padding: 4px 8px;
} 


/* ........................... */
/* Notification */

.header-navbar__item--has-notify:hover .navbar-item__link {
    color: rgba(255,255,255, 0.7);
}

.header-navbar__item--has-notify:hover .header-notify {
    display: block;
}


.header-notify {
    width: 404px;
    position: absolute;
    top: 155%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    color: var(--text-color);
    font-size: 1.4rem;
    display: none;
    animation: displayNotification linear 0.2s;
    transform-origin: 95% top;
}

.header-notify::before {
    content: "";
    border-style: solid;
    border-width: 10px 14px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -20px;
    right: 15px;
}

.header-notify::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    background-color: transparent;
    width: 100px;
    height: 20px;
}

@keyframes displayNotification {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.header-notify__header {
    padding: 10px 8px;
    font-size: 1.4rem;
    opacity: 0.4;
    text-transform: capitalize;
    user-select: none;
}

.header-notify-content {
    display: flex;
    flex-direction: column;
}

.header-notify-content a {
    display: flex;
    padding: 8px;
    text-decoration: none;
    color: var(--text-color);
    background-color: #ffc5c538;
    transition: all 0.1s linear;
}


.header-notify-content a:visited {
    background-color: var(--white-color);
}

.header-notify-content a:hover {
    background-color: rgba(238, 238, 238, 0.6);;
}


.notify-img {
    width: 44px;
    object-fit: contain;
    vertical-align: top;
}

.notify-img img {
    width: 44px;
}

.notify-content {
    font-size: 1.3rem;
    margin-left: 6px;
}

.notify-content__header {
    margin: 0;
    font-weight: 400;
}

.notify-content__brief {
    margin-top: 4px;
    margin-bottom: 4px;
    opacity: 0.7;
    font-size: 1.3rem;
}

.header-notify__footer {
    background-color: rgb(245, 245, 245, 0.7);
}

.header-notify__footer:hover {
    background-color: rgb(245, 245, 245, 0.9);
}

.header-notify__footer a{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
